{% extends 'base.html.twig' %}

{% block title %}Edit {{ game.name }}{% endblock %}

{% block main %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Tag</td>
                    <td>Action</td>
                </tr>
            </thead>
            {% for tag in game.tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        {#                    <a href="{{ path('edit_game_tags', {id: game.id}) }}">Edit tags</a>#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card">

        {{ form(editTagsForm) }}
    </div>

{% endblock %}


