{% extends 'base.html.twig' %}

{% block title %}Edit {{ game.name }}{% endblock %}

{% block main %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Tag</td>
                    <td>Action</td>
                </tr>
            </thead>
            {% for tag in game.tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        {{ render(controller(
                            '\\App\\Controller\\RemoveGameTagController',
                            { 'game': game, 'tag': tag }
                        )) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card">

        {{ form(editTagsForm) }}
    </div>

{% endblock %}


