{% extends 'base.html.twig' %}

{% block title %}My games{% endblock %}

{% block main %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Tags</td>
                    <td>Actions</td>
                </tr>
            </thead>
            {% for game in app.user.games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.tags |map((tag) => tag.name)|join(', ') }}</td>
                    <td>
                        <a href="{{ path('edit_game_tags', {id: game.id}) }}">Edit tags</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card">
        {{ form(addGamesForm) }}
    </div>
{% endblock %}

